<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partialsGeneral/head") %>
    <link rel="stylesheet" href="/css/stylesheetProductCart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>2BX - Carro de Compras</title>
</head>
<body> 
    <%- include("../partialsGeneral/header")  %> 
<main>

    <section>
        <div class="cart1">
            <h1 class="bot1">Carro de Compras</h1>
        </div>
    </section>
    <section class="cartDivContainer">
        <% if (toBuy.length == 0) { %>
            <div class="empty">
                <i class="fa-solid fa-cart-arrow-down"></i>
            </div>     
        <% }else{ %>
        <div class="cartDivContainerAdded">
       
            <% toBuy.forEach(package => { %>

            <article class="cart2">
                <div class="cart2-1">
                    <img class="foto" src="/img/activities/<%= package.image  %>" alt="Image">
                   
                </div>

                <div class="cart2-2">
                    <h3 class="itemName"><%= package.name  %></h3>
                    <h2 class="bot2">Cantidad: <input class="yes" type="number" value="numero"></h2>
                    <h2 class="bot2">Precio: $ <%= package.price %></h2>
                    <h2 class="bot2">Subtotal: $ <%= package.price %></h2>
                    <a href="/productCart/remove/<%= package.id  %>" type="button" ><h3 class="removeItem">REMOVE</h3></a>
                </div>
            </article>
        
              
            <% }) %>
        <% } %>
        </div>  
        <% if (toBuy.length !== 0) { %>
        <div class="cartFinishShopping">
            <div class="totalContainer" >
                <h2 class="totalPrice">TOTAL:</h2>
                <% if (totalAmount !== 0) { %>
                    <h3 class="totalPriceNumber" >$ <%= totalAmount  %> </h3>
                <% } %>
        
            </div>
            <div class="paragraphFinishShop">
                <p>Si estás comprando, GRACIAS POR TU COMPRA! Y si tenes alguna consulta, dejala en nuestra sección de contacto!</p>
            </div>
        </div>
        <% } %>
    </section>      
    <section>
        <div class="cart3">
            <a href="/packages" type="button" class="com animated infinite pulse">Seguir comprando</a>
            <a type="button" class="com animated infinite pulse">Comprar</a>
        </div>
    </section>
</main>

<%- include("../partialsGeneral/footer") %> 

</body>
</html>