<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partialsGeneral/head") %>
    <link rel="stylesheet" href="/css/stylesheetProductCart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>2BX - Carro de Compras</title>
</head>
<body> 
    <%- include("../partialsGeneral/header")  %> 
<main>

    <section>
        <div class="cart1">
            <h1 class="bot1">Carro de Compras</h1>
        </div>
    </section>
    <section>

        <% if (toBuy.length == 0) { %>
            <div class="empty">
                <i class="fa-solid fa-cart-arrow-down"></i>
            </div>     
        <% }else{ %>
            <% toBuy.forEach(package => { %>

                <div class="cart2">
                    <h3 class="animated infinite flash"><%= package.name  %></h3>
                    <img class="foto" src="/img/activities/<%= package.image  %>" alt="Image">
                
        
                    <a href="/productCart/remove/<%= package.id  %>" type="button" ><h3>REMOVE</h3></a>
                   
                    <h2 class="bot2">Cantidad</h2>
                    <input class="si" type="number" value="numero"> 
                    <h2 class="bot2">Precio</h2>
                    <h3><%= package.price  %></h3> 
                    <h2 class="bot2">Subtotal</h2>
                    <h3>$ <%= package.price %></h3>
                    <h2 class="bot2">Seleccionar</h2>
                    <form action="seleccionar.html" method="POST">
                        <label text="Seleccionar"></label>
                        <input type="button" class="si" value="Sí">
                    </form>
                </div> 
    
              
            <% }) %>
        <% } %>

    </section>      
    <section>
        <div class="cart3">
            <div class="totalContainer" >
                <h2 class="totalPrice">TOTAL:</h2>
                <h3 class="totalPriceNumber" >123</h3>
            </div>
            <a href="/packages" type="button" class="com animated infinite pulse">Seguir comprando</a>
            <a type="button" class="com animated infinite pulse">Comprar</a>
        </div>
    </section>
</main>

<%- include("../partialsGeneral/footer") %> 

</body>
</html>