<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
<%- include("../partialsGeneral/head") %>
<link rel="stylesheet" href="/css/stylesPackages.css">
<link rel="stylesheet" href="/css/stylesProductDetail.css">
<link rel="stylesheet" href="/css/stylesheetIndex.css">
<title>Detalle de Paquete : <%= packageToDetail.activityName %> </title>
</head>
<body>
    <!-- HEADER Y NAVBAR -->
    <%- include("../partialsGeneral/header")  %>
    <main>
        <section class="productDetail">
            <div class="productDetailImage">
                <img src="/img/rockClimbingMountain_1280.jpg" alt="Imagen Random">
            </div>
            <article class="productDetailText">

                <h1>Detalle general del Paquete</h1>

                <div class="textContainer">
                    
                    <div class="item">
                        <h4><%= packageToDetail.activityName %> </h4>
                    </div>

                    <div class="item">
                        <ul type="none">
                            <li>Duracion: <%= packageToDetail.startTime %>  a <%= packageToDetail.endTime %> hs</li>
                            <li>Lugar: <%= packageToDetail.location %></li>
                            <li>Incluye: 
                                <ul type="none">
                                    <li>Almuerzo Liviano</li>
                                    <li>Bebidas</li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="item">
                        <h4>Requisitos:</h4>
                    </div>

                    <div class="item">
                        <ul type="none">
                            <li>Mayores de 18 años</li>
                            <li>Menores acompañados por adulto</li>
                        </ul>
                    </div>

                    <div class="item">
                        <p>PRECIO : $<%= packageToDetail.price %> + reserva</p>
                    </div>

                    <div class="item">
                        <p>Compra tu voucher y coordinamos el dia de la actividad</p>
                    </div>

                    <div class="reserva">
                        <h4>Reserva</h4>
                    </div>

                    <div class="precio">
                        <p>$<%= packageToDetail.reservationPrice %></p>
                    </div>
                </div>
                <div class="buyButton">
                    <a href="/productCart"><button>Agregar al Carrito</button></a>
                </div>
                

            </article>
        </section>

        <section class="productDescription">
            <article class="description">
                <div class="titleContainer">
                    <h2>Descripcion del paquete</h2>
                </div>
                
                <ul type="disc">
                    <li>¿En qué consiste la actividad?</li>
                        <p><%= packageToDetail.description %></p>
                    <li>¿Qué debo llevar?</li>
                        <p>Ropa comoda, abrigo y calzado adecuado para trekking. Proteccion solar.</p>
                    <li>Seguridad</li>
                        <p>Los instructores se encuentran certificados para llevar a cabo las actividades y el equipo provisto se encuentra homologado y en constante chequeo.</p>
                    <li>Clima</li>
                        <p>En caso de clima adverso se reprogramará la actividad</p>
                    <li>Lugar</li>
                        <p>Altas Cumbres, RP 34 Córdoba</p>

                </ul>
            </article>
        </section>
        <!-- CARROUSEL PACKAGES -->
        <%- include("./partials/packagesDetailPackagesCarrousel") %> 
        

    </main>
    <!-- FOOTER -->
    <%- include("../partialsGeneral/footer")  %>

</body>

</html>