<section class="packagesContainer">
    <% dataBasePackages.forEach(package => { %>

    <article class="productItem p1">
        <div class="picturePackages"><img class="picturesIn" src="/img/activities/<%= package.image  %>"  alt="paquete"></div>
        <a href="/packages/detail/<%= package.id %> "><p><%= package.name  %></p></a>
        <!-- <a href="/adminForm/:id"></a> -->
        <div class="subContainer">
            <a href="/userAdmin/adminForm/<%= package.id %>" class="btnActionsCrud">EDITAR</a>
            <form action="/userAdmin/adminBase/delete/<%= package.id  %>?_method=DELETE" method="POST">
                <button class="btnActionsCrud" type="submit">ELIMINAR</button>
            </form>
        </div>
    </article>
  
    <% }) %>
</section>