<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include("../partialsGeneral/head")  %> 
    <link rel="stylesheet" href="/css/stylesheetIndex.css">
    <title>2BX - Home</title>
    </head>
    <body>
    <%- include("../partialsGeneral/header") %> 
    <main>
        <div class="welcome">
            <h1> Bienvenido <%= succesUser.name%> </h1>
        </div> 
        <div class="slide">
            <div class="slideContent">
                <input type="radio" class="slideShow" id="slide1" name="slide" checked="checked">
                <div class="slideItem">
                    <img src="img/skydive_1280.jpg" alt="skydive">
                </div>
                <input type="radio" class="slideShow" id="slide2" name="slide">
                <div class="slideItem">
                    <img src="img/parapente_1280.jpg" alt="paragliding">
                </div>
                <input type="radio" class="slideShow" id="slide3" name="slide">
                <div class="slideItem">
                    <img src="img/kaitsurf_1280.jpg" alt="kaitsurf">
                </div>
                <input type="radio" class="slideShow" id="slide4" name="slide">
                <div class="slideItem">
                    <img src="img/rock-climbing_1280.jpg" alt="climbing">
                </div>
                <input type="radio" class="slideShow" id="slide5" name="slide">
                <div class="slideItem">
                    <img src="img/rafting_1280.jpg" alt="rafting">
                </div>
                <label for="slide5" class="slideControl prev control1"><</label>
                <label for="slide2" class="slideControl next control1">></label>
                <label for="slide1" class="slideControl prev control2"><</label>
                <label for="slide3" class="slideControl next control2">></label>
                <label for="slide2" class="slideControl prev control3"><</label>
                <label for="slide4" class="slideControl next control3">></label>
                <label for="slide3" class="slideControl prev control4"><</label>
                <label for="slide5" class="slideControl next control4">></label>
                <label for="slide4" class="slideControl prev control5"><</label>
                <label for="slide1" class="slideControl next control5">></label>
                <ol class="slideIndicator">
                    <li>
                        <label for="slide1" class="slideCircle">•</label>
                    </li>
                    <li>
                        <label for="slide2" class="slideCircle">•</label>
                    </li>
                    <li>
                        <label for="slide3" class="slideCircle">•</label>
                    </li>
                    <li>
                        <label for="slide4" class="slideCircle">•</label>
                    </li>
                    <li>
                        <label for="slide5" class="slideCircle">•</label>
                    </li>
                </ol>
            </div>
        </div>
        <section class="bottomHome">
        <%- include("./partials/firstSection")  %> 
        <%- include("./partials/secondSection")  %> 
        <%- include("./partials/thirdSection")  %> 
        </section>
    </main>
    <%- include("../partialsGeneral/footer")  %> 
    
</body>
</html>