<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
    <%- include("../partialsGeneral/head") %>
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <script src = "/js/formLogin.js"></script>
    <title>2BX / Login</title>
</head>
<body>
    <!-- HEADER Y NAVBAR -->
    <%- include("../partialsGeneral/header")  %>
    <main>
    
        <section class="loginForm">
           <h2 class="sectionTitle" >Login / <a class="linkLogin" href="/register"> Registro </a></h2>
           
           <form action="/login" method="POST" id="loginForm" enctype="multipart/form-data">
            
           <div class="form">
              
               <label class="inputLabel" for="email">Email</label>
               <input class="inputLogin" type="email" name="email" id="email" value="<%= locals.oldData ? oldData.email : null %>">
               <% if (locals.errors && errors.email) { %>
                <p class="warning message">
                    <i class="fa-solid fa-angles-up"></i><%= errors.email.msg %><i class="fa-solid fa-angles-up"></i> 
                </p>
             
                <% } %> 
              
           
               <label class="inputLabel" for="password">Contraseña</label>
               <input class="inputLogin" type="password" name="password" id="password">
               <% if (locals.errors && errors.password) { %>
                <p class="warning message">
                    <i class="fa-solid fa-angles-up"></i><%= errors.password.msg %><i class="fa-solid fa-angles-up"></i> 
                </p>
             
            <% } %>

   
               
           </div>  
           
           <label class="inputLabel" for="checkbox"> <input type="checkbox" name="rememberEmail" id="checkbox"> Recordar mi Email</label>
           <label class="inputLabel" for="checkbox"> <input type="checkbox" name="rememberPassword" id="checkbox"> Recordar mi contraseña </label>
              
           </form>


   
           <button class="btnSubmit" type="submit" form="loginForm" value="Submit">Login</button>

           <p class="textPW"><a class="linkLogin" href="/*****"> Olvide mi contraseña.</a></p>
       </section>
   
       <section class="image">
           <div class="image">
          <!-- <img src="/img/kaitsurf_640.jpg">-->
           </div>  
       </section>      
       </main>
   
  <!-- FOOTER -->
  <%- include("../partialsGeneral/footer")  %>

   </body>
   
   </html>