<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<head>
    <%- include("../partialsGeneral/head") %>
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <title>2BX / Register</title>
</head>
<body>
    <!-- HEADER Y NAVBAR -->
    <%- include("../partialsGeneral/header")  %>
    
<main>    
     <section class="registerForm">
        <h2>Registro / <a href="/login"> Login </a></h2>
        
        <form action="/register" method="POST" id="registerForm" enctype="multipart/form-data">
        <h3>Datos Personales</h3>

        <div class="form">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" value="<%= locals.oldData ? oldData.name : null %>">
            <% if (locals.errors && errors.name) { %>
                <p class="warning message">
                    <i class="fa-solid fa-angles-up"></i><%= errors.name.msg %><i class="fa-solid fa-angles-up"></i>
                </p>
             
            <% } %>

            <label for="lastName">Apellido</label>
            <input type="text" name="lastName" val id="lastName" value="<%= locals.oldData ? oldData.lastName : null %>">
            <% if (locals.errors && errors.lastName) { %>
                <p class="warning message">
                    <i class="fa-solid fa-angles-up"></i><%= errors.lastName.msg %><i class="fa-solid fa-angles-up"></i> 
                </p>
             
            <% } %>


            <label for="birthDate">Fecha de nacimiento</label>
            <input type="date" name="birthDate" valu id="birthDate" value="<%= locals.oldData ? oldData.birthDate : null %>">
            <% if (locals.errors && errors.birthDate) { %>
                <p class="warning message">
                    <i class="fa-solid fa-angles-up"></i><%= errors.birthDate.msg %><i class="fa-solid fa-angles-up"></i> 
                </p>
             
            <% } %>


            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="<%= locals.oldData ? oldData.email : null %>">
            <% if (locals.errors && errors.email) { %>
                <p class="warning message">
                    <i class="fa-solid fa-angles-up"></i><%= errors.email.msg %><i class="fa-solid fa-angles-up"></i> 
                </p>
             
            <% } %>

        </div>

        <h3>Contraseña</h3>

        <div class="form">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password">
            <% if (locals.errors && errors.password) { %>
                <p class="warning message">
                    <i class="fa-solid fa-angles-up"></i><%= errors.password.msg %><i class="fa-solid fa-angles-up"></i> 
                </p>
             
            <% } %>



            <label for="passwordRepeat">Repetir contraseña</label>
            <input type="password" name="passwordRepeat" id="passwordRepeat">
            <% if (locals.errors && errors.passwordRepeat) { %>
                <p class="warning message">
                    <i class="fa-solid fa-angles-up"></i><%= errors.passwordRepeat.msg %><i class="fa-solid fa-angles-up"></i> 
                </p>
             
            <% } %>


        </div>

        <div class="termsAndConditions">
            <p>Leer nuestros <a href="/*****"> terminos y condiciones.</a></p>
            
            <label for="checkbox"> <input type="checkbox" id="checkbox" value="accept"> Acepto los terminos y condiciones</label>
        </div>
        </form>

        <a href="/login"><button type="submit" form="registerForm" value="Submit">Registrar</button></a>
    </section>

    <section class="image">
        <div class="image">
       <!-- <img src="/img/kaitsurf_640.jpg">-->
        </div>  
    </section>      
    </main>

    <footer>
       <!-- FOOTER -->
    <%- include("../partialsGeneral/footer")  %>

</body>
</html>