<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<head>
    <%- include("../partialsGeneral/head") %>
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <title>2BX / Register</title>
</head>
<body>
    <!-- HEADER Y NAVBAR -->
    <%- include("../partialsGeneral/header")  %>
    
<main>    
     <section class="registerForm">
        <h2>Registro / <a href="/login"> Login </a></h2>
        
        <form action="/register" method="POST" id="registerForm" enctype="multipart/form-data">
        <h3>Datos Personales</h3>

        <div class="form">
            <label for="name">Nombre</label>
            <input type="text" placeholder="Juan Carlos" name="name" id="name" value="<%= locals.oldData ? oldData.name : null %>"><% if (locals.errors && errors.name) {%> <%= errors.name.msg %> <% } %> 

            <label for="lastName">Apellido</label>
            <input type="text" placeholder="Gonz치lez" name="lastName" id="lastName" value="<%= locals.oldData ? oldData.lastName : null %>"><% if (locals.errors && errors.lastName) {%> <%= errors.lastName.msg %> <% } %> 


            <label for="birthDate">Fecha de nacimiento</label>
            <input type="date" placeholder="birthDate" name="birthDate" id="birthDate" value="<%= locals.oldData ? oldData.birthDate : null %>"><% if (locals.errors && errors.birthDate) {%> <%= errors.birthDate.msg %> <% } %> 


            <label for="email">Email</label>
            <input type="email" placeholder="juan.gonzalez@2bx.com" name="email" id="email" value="<%= locals.oldData ? oldData.email: null %>"><% if (locals.errors && errors.email) {%> <%= errors.email.msg %> <% } %> 

        </div>

        <h3>Contrase침a</h3>

        <div class="form">
            <label for="password">Contrase침a</label>
            <input type="password" placeholder="********" name="password" id="password"><% if (locals.errors && errors.password) {%> <%= errors.password.msg %> <% } %> 


            <label for="password">Repetir contrase침a</label>
            <input type="password" placeholder="********" name="password" id="password"><% if (locals.errors && errors.password) {%> <%= errors.password.msg %> <% } %> 

        </div>

        <div class="termsAndConditions">
            <p>Leer nuestros <a href="/*****"> terminos y condiciones.</a></p>
            
            <label for="checkbox"> <input type="checkbox" id="checkbox" value="accept"> Acepto los terminos y condiciones</label>
        </div>
        </form>

        <a href="/login"><button type="submit" form="registerForm" value="Submit">Registrar</button></a>
    </section>

    <section class="image">
        <div class="image">
       <!-- <img src="/img/kaitsurf_640.jpg">-->
        </div>  
    </section>      
    </main>

    <footer>
       <!-- FOOTER -->
    <%- include("../partialsGeneral/footer")  %>

</body>
</html>