<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<head>
  <%- include("../partialsGeneral/head") %>
  <link rel="stylesheet" href="/css/stylesAdminForm.css">
  <title>2BX / Crear Paquete Nuevo</title>
</head>
<body>
    <!-- HEADER Y NAVBAR -->
    <%- include("../partialsGeneral/header")  %>
    
<main>
   
     <section class="newProduct">
        <h2 class="h2">Nuevo Paquete</h2>
        
        <form action="/userAdmin/adminForm" method="POST" id="newProduct" enctype="multipart/form-data">
          <h3 class="h3">Detalle general del Paquete</h3>

          <div class="form">
                  <div class="activity">
                  <label for="activityName">Nombre de la actividad</label>
                  <input type="text" placeholder="Trekking Volcan Lanin" name="activityName"  id="activityName" maxlength="30"required> 
              
                  <label for="sport">Deporte</label>               
                  <select class="listAF" name="sport" id="sport">
                    <option value="" disabled selected>Seleccionar deporte</option>
                    <% allSports.forEach(sport => { %>
                      <option value="<%= sport.id %>"><%= sport.name %></option>
                     
                    <% }); %>
                  </select>
                  </div>

                  <div class="activityDuration">
                  <label for="startTime"><input type="time" id="startTime" name="startTime" min="00:00" max="23:59" required>Horario inicio</label>
                  
                  <label for="endTime"><input type="time" id="endTime" name="endTime" min="00:00" max="23:59" required>Horario finalización</label>
                  </div>

                  <label for="Location">Lugar</label>
                  <select class="listAF" name="location" id="geoRegion">
                    <option value="" disabled selected>Seleccionar provincia</option>
                    <% allProvinceLocations.forEach(province => { %>
                      <option value="<%= province.id %>"> <%= province.province %>  </option>
                     
                    <% }); %>
                  </select>
                  <!-- <input type="text" placeholder="Neuquén" name="Location"  id="Location" maxlength="30" required>  -->

                                  
                  <p>Elementos incluidos</p>
                  <div class="radio">
                  <label for="lunch"><input type="radio" class="radio" name="lunch" id="lunch" value=1>Almuerzo</label>
                  <label for="snack"><input type="radio" class="radio" name="snack" id="snack" value=1>Snacks</label>
                  <label for="transport"><input type="radio" class="radio" name="transport" id="transport" value=1>Transporte desde el hotel</label>
                  </div>
                  
                  <p>Requisitos</p>
                  <div class="radio">
                  <label for="experience"><input type="radio" class="radio" name="experience" id="experience" value=1>Experiencia previa</label>
                  </div>      

                  <label for="price">Precio</label>
                  <input type="number" placeholder="9,999" name="price"  id="price" required> 

                  <label for="reservationPrice">Precio reserva</label>
                  <input type="number" placeholder="9,999" name="reservationPrice"  id="reservationPrice" required> 

                  <p>Esta en oferta?</p>
                  <div class="radioButton" id="sale">
                  <label for="saleRadio"><input type="radio" class="radio" name="radio" id="saleRadio" value=1>Si</label>
                  <!-- <label for="saleRadio"><input type="radio" class="radio" name="radio" id="saleRadio" value=0 selected>No</label> -->
                  </div>

                  <label for="sale">% de descuento</label>
                  <select class="listAF" name="sale" id="sale">
                    <option value="" disabled selected>Seleccionar descuento</option>
                    <option value=0,1>10%</option>
                    <option value=0,25>25%</option>
                    <option value=0,30>30%</option>
                    <option value=0,50>50%</option>
                  </select>

                  


              <h3>Descripción del paquete</h3>        

              <label for="description">Descripción de la actividad</label>
              <input type="text" placeholder="Descripción de la actividad" name="description"  id="description" maxlength="400" required> 
            
              <label for="image">Agregar imagenes</label>
              <input type="file" name="image" id="image" accept="image/png, image/jpeg" multiple required>    

          </div>

          <div class="buttons">
            <button type="reset" value="reset" class="reset">Borrar todo</button>
            <button type="submit" form="newProduct" value="Submit">Crear paquete</button>
          </div> 

        </form>

        
              
    </section>
     
    <section class="image">
          <div class="image"></div>
    </section>
    
    </main>

    <footer>
       <!-- FOOTER -->
    <%- include("../partialsGeneral/footer")  %>

</body>
</html>