<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include("../partialsGeneral/head") %>
    <link rel="stylesheet" href="/css/stylesheetProductCart.css">
    <link rel="stylesheet" href="/css/stylesheetclientProfile.css">
    <title>2BX - Mi Perfil</title>
</head>
<body>
    <%- include("../partialsGeneral/header")  %> 
    <main>
        <section class="profile">

        <form method="POST" action="/?_method=PUT" enctype="multipart/form-data">

            <div class="name">
                <label for="" id="personalinfo"><h4>Nombre:</h4></label>
                <input class="number" type="text" name="name" id="name" value="<%= userToDetail.name %> " >
                <label for="" id="personalinfo"><h4>Apellido:</h4></label>
                <input class="number" type="text" name="lastName" id="lastName" value="<%= userToDetail.lastName %> ">
                <label><h4>Foto</h4></label>
                <input class="photo" type="file" accept="image/jpeg, image/jpg">
            </div>


            <h4>Sobre mi</h4>
            <div class="aboutme">

                <label for="" id="personalinfo">Nacimiento:</label>
                <input class="number" type="date" name="birthDate" id="birthDate">
                <br>
                <label for="" id="personalinfo">Peso(Kg):</label>
                <input class="number" type="number" name="peso">
                <br>
                <label for="" id="personalinfo">Altura(mts):</label>
                <input class="number" type="number" name="altura">
                <br>
                <label for="" id="personalinfo">Apto Medico:</label>
                <label for="checkbox"><input id="checkok" name="checkok" type="checkbox">SI</label>
                <label for="checkbox"><input id="checkok" name="checkok" type="checkbox">NO</label>
                <input class="photo" value="adjunta tu apto" type="file" accept="DOCTYPE">


            </div>

            <div id="tellus">
                <br>
                <label for="" id="personalinfo">Mas sobre mi:</label>
                <input class="tellus" name="tellus" type="text" value="My info">
            </div>

            <div class="misp2">
                <br>
                <a type="submit" class="com animated infinite pulse">Editar informacion</a>
                <button type="submit" class="com animated infinite pulse">Guardar</button>
            </div>

        </form>


            <h4>Mis paquetes</h4>

            <div class="misp">
                
                <img class="photo" src="/img/rafting_640.jpg" alt="Rafting">
                
                <img class="photo" src="/img/rafting_640.jpg" alt="Rafting">

                <img class="photo" src="/img/rafting_640.jpg" alt="Rafting">
               
            </div>

            <div class="misp2">
                <a href="/packages" type="button" class="com animated infinite pulse">Buscar paquetes</a>
                <a href="/productCart" type="button" class="com animated infinite pulse">Agregar/Eliminar</a>
            </div>

            <h4>Ultimas visitas y compras</h4>

        <div class="last">
               
               <img class="photo" src="/img/rafting_640.jpg" alt="Rafting">
                
               <img class="photo" src="/img/rafting_640.jpg" alt="Rafting">

               <img class="photo" src="/img/rafting_640.jpg" alt="Rafting">
               
            </div>

            <div class="conf">
                <h4>Cuenta: Configuracion y Seguridad</h4>

                <a type="button" class="com animated infinite pulse">Editar</a>
            </div>

        </section>

    </main>
    <%- include("../partialsGeneral/footer") %> 
</body>
</html>